.App__sidebar {
  background:#056CF2;
}

.login-main {
  background:#056CF2;
  z-index: 500;
}

.login-section {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -10%);
  padding-left: 25%;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  color: white;
  background-color: #056CF2;
}

.login-form {
  width: 70%;
  min-height: 100vh;
  padding: 50% 0 50%;
  background-color: #056CF2;
  transition: .2s;
}

.login-form h2 {
  font-weight: 300;
}

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 80%;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #056CF2;
  color: white;
  outline: none;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

#join-btn {
  border: 1px solid white;
  border-radius: 15px;
  background: #056CF2 !important;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}

#join-btn:hover {
  background: #056CF2;
  padding: 10px 80px;
}

  input:-webkit-autofill, 
  textarea:-webkit-autofill, 
  input:-webkit-autofill:hover,
  textarea:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill:focus,
  input, input[type=text], input[type=email], input[type=password]
  textarea {
    border: none;
    border-bottom: 1px solid #fff;
    resize: none;
    font-size: 1.1em;
    letter-spacing: .12em;
    border-radius: 0;
    background-color: #ddd;
    -webkit-box-shadow: none;
    -webkit-text-fill-color: #fff;
    color: #fff;
    box-shadow: 0 0 1000px 1000px  #056CF2 inset;
    outline: none;
  }
    
.login__form-group{
  border: white 1px solid;
  display: block;
  font-family: var(--custom-font);
  font-size: 20px;
  margin: 0 0 3vh;
  width: 100%;
  padding: 10px 16px; 
  font-size: 1.1em;
  letter-spacing: .07em; 
}

.loading-login {
  position: relative;
  cursor: default;
  pointer-events: none;
}

.loading-login:before {
  position: absolute;
  content: '';
  top: 0%;
  left:0%;
  min-width: 100%;
  min-height: 100%;
  z-index: 1000;
}

.loading-login:after {
  position: absolute;
  content: '';
  top: 45%;
  left: 45%;
  margin: -1.5em 0em 0em -1.5em;
  width: 6em;
  height: 6em;
  -webkit-animation: form-spin 0.6s linear;
  animation: form-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #F20505 rgba(255, 255, 255, .6) rgba(255, 255, 255, .4) rgba(255, 255, 255, .2);
  border-style: solid;
  border-width: 0.2em;
  -webkit-box-shadow: 0px 0px 0px 1px transparent;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: 101;
}

@-webkit-keyframes form-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes form-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} 

/***************************For Tablets and Up****************************/


@media (min-width: 1000px){

  .login-section {
    transform: translate(-50%, -20%);
    min-height: 101vh;
    max-height: 101vh;
  }

  .login-form {
    transform: translate(0%, -10%);
    min-height: 500px !important;
    max-height: 500px !important;
    height: 500px;
  }

  .loading-login:after {
    top: 56%;
  }

}
 
/***************************For Large Laptops and Up****************************/

@media (min-width: 1440px){

  .login-section {
    transform: translate(-45%, -10%);
    padding-left: 38%;
    padding-right: 30%;
    width: 120%;
    min-height: 100vh;
    max-height: 100vh;
    text-align: center;
    display: flex;
    color: white;
    background-color: #056CF2;
  }

  .login-form {
    min-height: 500px !important;
    max-height: 500px !important;
    height: 500px;
    padding-top: 12%;
  }

  .loading-login:after {
    top: 27%;
  }
}

/***************************For Desktops and Up****************************/

@media (min-width: 1680px){
  .login-form {
    transform: translate(0%, 35%);
  }

  .loading-login:after {
    top: 26%;
  }
}

/***************************For Large Desktops and Up****************************/
@media (min-width: 1920px){
  .login-form {
    transform: translate(0%, 35%);
  }

  .loading-login:after {
    top: 25%;
  }
}