.update-member-main {
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

.update-member__title {
  font-size: 2em;
  text-align: left;
  width: 100%;
}

.update-member-card__profile-pix {
  margin: 3.5vh auto 0;
}

.update-member-card__banner
{
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.update-member-card__banner >img
{
  height: auto;
  width: 100%;
  object-fit: cover;
}

.update-member-card__thumbnail
{
  margin: 0 auto;
  z-index: 500; 
}

.update-member-card__thumbnail--round
{
  width: 125px;
  height: 125px;
  overflow: hidden;
  border-radius: 50%;
  margin: -13vh auto 0;
  border: 1px solid black;
}

.update-member-card__thumbnail--round >img
{
  height: 100%;
  width: auto;
  object-fit: contain;
}

.update-member-card__name {
  font-size: 2em;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  margin-bottom: 3vh;
  padding-top: 1vh;
}

.update-member-card__info
{
  width: 85%;
  margin: 0 auto;
  padding: 2vh 0;
} 

/*********************** Tabs ***********************/

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {;
  margin: 0 0 10px;
  padding: 0;
  background-color: #ccc;
}

.react-tabs__tab {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  width: 33%;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
}

.react-tabs__tab--selected {
  color: black;
  font-style: italic;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

/******************* Info Section *******************/

.update-question {
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  line-height: 2.25em;
  margin-bottom: -1vh;

}

.update-pencil {
  color: #777;
  font-size: 1.5em;
  position: relative;
  top: 2.25vh;
}

input.update-answer
{
  color: #777 !important;
  margin: 0 0 1vh 1%;
  padding: 5px 20px 5px 30px;
  width: 100%;
  font-size: 1.2em;
  letter-spacing: .03em;
  background-color: #fff !important;
  -webkit-text-fill-color: #777 !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  box-shadow: 0 0 0px 1000px #fff inset !important;
}

.update-answer-half__flex-container {
  display: flex;
  justify-content: space-around;
}

.update-answer-half {
  flex-basis: 49%;
}

.update__buttons {
  width: 30%;
  margin: 1vh 35%;
}

/******************************** IPAD AND UP *******************************/
@media (min-width: 1000px){

  .update-pencil {
    top: 3vh;
  }

  .update-member-card__banner
  {
    height: 225px;
    margin: 0 auto 0;
  }

  .update-member-card__banner >img
  {
    margin-top: -4vh;
  }

  .update-member-card__thumbnail
  {
    width: 25%;
    padding: 5px; 
  }

  .update-member-card__thumbnail--round
  {
    width: 150px;
    height: 150px;
    margin: -11vh auto 0;
  }

  .update-member-card__info
  {
    width: 90%;
    margin: 2vh auto;
    padding: 2vh 0;
  }

}


/******************************** LAPTOPS AND UP *******************************/
@media (min-width: 1400px){

  .update-pencil {
    top: 2.5vh;
  }

  .update-member-card__banner {
    height: 275px;
    }

  .update-member-card__thumbnail--round
  {
    margin: -8.5vh auto 0;
  }

  .update-member-card__name {
    position: relative;
    top: 3vh;
    margin-bottom: 5vh;
  }

}

/******************************** DESKTOP AND UP *******************************/
@media (min-width: 1600px){

  .update-pencil {
    top: 2.25vh;
  }

  .update-member-card__profile-pix {
    position: relative;
    top: 2vh;
  }

  .update-member-card__thumbnail--round
  {
    margin: -7vh auto 0;
  }

}

/******************************** DESKTOP AND UP *******************************/
@media (min-width: 1900px){

  .update-member-main .Button--back {
    top: -4.75vh;
  }

}



  