.like__button .Tooltip-message {
    top: calc(-9.5vh - 14px) !important;
    left: 0% !important;
  }
  
.like__button .Tooltip-message:after {
    top: calc(35px) !important;
}

/***************************For Tablets and Up****************************/
@media (min-width: 1000px){  
    .like__button .Tooltip-message {
        top: calc(-8.25vh - 14px) !important;
    }
    
    .like__button .Tooltip-message:after {
        top: 5vh !important;
    }
  }

/***************************For Laptops and Up****************************/
@media (min-width: 1440px){  
    .like__button .Tooltip-message {
        top: calc(-8.25vh - 14px) !important;
        left: -10% !important;
    }
    
    .like__button .Tooltip-message:after {
        top: 5.3vh !important;
    }
  }

