
.menubar__flex-container {
  position: fixed;
  top: 5vh;
  right: 3%;
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menubar__flex-item {
  width: 25%;
  margin: 0 5%;
}

.menubar__flex-item > a {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: .02em;
  color: #fff;
  font-size: 1.3em;
  font-weight: 500;
  text-transform: capitalize; 
}

.menubar__flex-item > a:hover, .menubar__flex-item > a:active, .menubar__flex-item > a:visited {
  color: white;
}

